@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&family=Poppins&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}
html{
  font-size: 62.5%;
}
.main{
  width: 100vw;
  height: 100vh;
  background-image: url(../src/Images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-blend-mode: multiply;
  background-color: lightyellow;
}


.box{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: black;
  width: 25%;
  height: 75vh;
  border-radius: 2em;
  background-color:rgba(255,255,255,.2);
  background-size: cover;
  margin-top: 1em;
  box-shadow: 0 3px 6px black;
  
 
}

.inputbox{
  margin-top: 2em;
}
.inputbox input{
  border-radius: 1em;
  font-size: 1.8rem;
  
  height: auto;
  text-align: center;
  background-color: rgba(255,255,255,0.5);
 
}
input:focus{
  outline:none;
}
.location{
  margin-top: 1em;
  font-size: 2.5rem;
  text-align: center;
}

.info p{
  text-align: center;
  margin-top: 1.5em;
  font-size: 1.3rem;
  font-weight: bold;
}

.temp{
  margin-top: .51em;
  text-align: center;
  font-size: 4rem!important;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp .fa-thermometer-three-quarters{
  font-size: 1em;
  padding: .3em;
  color: lightcoral;
}

.temp .fa-thermometer-quarter{
  font-size: 1em;
  padding: .3em;
  color: skyblue;
}
.immg{
  display: flex;
  justify-content: center;
 align-items: center;
 animation: whetercond 2s linear infinite alternate;
 margin-top: 1em;
}
.tempin_max{
  margin-top:.3em;
  color: black;
  font-size:2rem;
}

@keyframes drift {
  from {
    transform: translateX(-10%);
  }

  to {
   transform: translateX(20%);

  }
}
.location i{
  font-size: 3rem;
  animation: drift 2s linear infinite alternate;
}
.wheater_condition{
  text-align: center;
  margin-top: 1em;
  font-size: 2rem;
}

@keyframes whetercond{
  from{
    transform: scale(1,1);
  }
  to{
    transform: scale(1.5,1.5);
    
  }
}

.nodata{
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
 
}

.sunrise_set{
  font-size: 1.5rem!important;
  padding: 0;
  
  
}
.nodata1{
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
 
}
.loading{
  width: 10rem;
  height: 10rem;
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  border-top: solid red  3px;
  box-shadow: 0 2px 2px yellow;
  animation: circle 3s linear infinite normal;
}

@keyframes circle{
  from{
    transform: rotate(60deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ***************** media starts here **************************/

@media(max-width:300px){
  .box{
    width: 90%;
    height: 70%;
  }
  

  .inputbox{
    margin-top: 2em;
  }

  
  .location{
    margin-top: 1em;
    font-size: 2rem;
    text-align: center;
  }
  
  .info p{
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .temp{
    margin-top: .51em;
    text-align: center;
    font-size: 3.5rem;
  }
  .immg{
    display: flex;
    justify-content: center;
   align-items: center;
   animation: whetercond 2s linear infinite alternate;
   margin-top: 1.3em;
  }
  .tempin_max{
    margin-top: .51em;
    font-size: 1.7rem;
  }
  .sunrise_set{
    font-size: 1.8rem!important;
    padding: 0;
    
  }
  .wheater_condition{
    text-align: center;
    margin-top: .71em;
    font-size: 2.5rem;
  }
 
  
  .immg{
   margin-top: 1em;
  }
  
}
@media(min-width:301px) and (max-width:320px)
{
  .box{
    width: 80%;
    height: 80%;
  }
  

  .inputbox{
    margin-top: 2em;
  }
 
  
  .location{
    margin-top: 1em;
    font-size: 2rem;
    text-align: center;
  }
  
  .info p{
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .temp{
    margin-top: .51em;
    text-align: center;
    font-size: 3.5rem;
  }
  .immg{
    display: flex;
    justify-content: center;
   align-items: center;
   animation: whetercond 2s linear infinite alternate;
   margin-top: 1.3em;
  }
  .tempin_max{
    margin-top: .51em;
    font-size: 1.8rem;
  }
  .sunrise_set{
    font-size: 1.8rem!important;
    padding: 0;
    
  }
  .wheater_condition{
    text-align: center;
    margin-top: .71em;
    font-size: 2.5rem;
  }
 
  
  .immg{
   margin-top: 1em;
  }
  
}
/* ***************** media min:321px and max 480 **************************/
@media (min-width:321px) and (max-width:480px){

 
  .box{
    width: 80%;
    height: 75%;
  }
  

  .inputbox{
    margin-top: 2em;
  }

  
  .location{
    margin-top: 1em;
    font-size: 2rem;
    text-align: center;
  }
  
  .info p{
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.4rem;
    font-weight: bold;
  }
  
  .temp{
    margin-top: .51em;
    text-align: center;
    font-size: 3.5rem;
  }
  .immg{
    display: flex;
    justify-content: center;
   align-items: center;
   animation: whetercond 2s linear infinite alternate;
   margin-top: 1.3em;
  }
  .tempin_max{
    margin-top: .51em;
    font-size: 1.8rem;
  }
  .sunrise_set{
    font-size: 1.8rem!important;
    padding: 0;
    
  }
  .wheater_condition{
    text-align: center;
    margin-top: .71em;
    font-size: 2.5rem;
  }
 
  
  .immg{
   margin-top: 1em;
  }
  
}

/* ***************** media min:481px and max 768px **************************/

@media (min-width:481px) and (max-width:767px){

  .box{
    width: 60%;
    height: 80vh;
    overflow-y: scroll;
  }

  .inputbox{
    margin-top: 2em;
  }
  
  .location{
    margin-top: 1em;
    font-size: 2rem;
    text-align: center;
  }
  
  .info p{
    text-align: center;
    margin-top: 1.8em;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .temp{
    margin-top: .61em;
    text-align: center;
   
  }
  .immg{
    margin-top: 1.3em;
   }
  .tempin_max{
    margin-top: 1em;
    font-size: 1.8rem;
   
  }
  .sunrise_set{
    font-size: 1.8rem!important;
    padding: 0;
  }
  .wheater_condition{
    text-align: center;
    margin-top: 1em;
    font-size: 2.3rem;
  }
}
/*************************tablet potrait************************/
@media (min-width:768px) and (max-width:1024px){
 

 
  .box{
    width: 60%;
    height: 65vh;
    margin-top:2em;
  }
  
 
  .inputbox{
    margin-top: 2.5em;
  }
  .inputbox input{
 
    font-size: 2.5rem;
  }
  .location{
    margin-top: .51em;
    font-size: 4rem;
    text-align: center;
  }
  
  .info p{
    text-align: center;
    margin-top: 1.5em;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .temp{
    margin-top: .51em;
    text-align: center;
    font-size: 4.5rem;
  }
  .immg{
    margin-top: 1.7em;
   }
  
  .tempin_max{
    margin-top: .51em;
    font-size: 3rem;
  }
  .sunrise_set{
    font-size: 2.5rem!important;
    padding: 0;
  }
  
  .wheater_condition{
    text-align: center;
    margin-top: 1.2em;
    font-size: 3.5rem;
  }
  
}

/* ***************** media min:768px and max 1024px **************************/

@media (min-width:768px) and (max-width:1024px) and (orientation: landscape){


  
  .box{
    width: 40%;
    height: 70vh;
    overflow-y: scroll;
  }
  


  .inputbox{
    margin-top: 2em;
  }
  .inputbox input{
  
    height: auto;
    font-size: 2rem;
  }
  
  .location{
    margin-top: .51em;
    font-size: 3rem;
    text-align: center;
  }
  
  .info p{
    text-align: center;
    margin-top: 1.5em;
    font-size: 1.8rem;
    font-weight: bold;
  }
  
  .temp{
    margin-top: .51em;
    text-align: center;
    font-size: 4rem;
  }
  
  .tempin_max{
    margin-top: .5em;
    font-size: 2rem;
   
  }
  .sunrise_set{
    font-size: 2.5rem!important;
    padding: 0;
    margin-top: 0;
  }
  .wheater_condition{
    text-align: center;
    margin-top: .52em;
    font-size: 3rem;
   
  }
 
}

@media (min-width:1025px) and (max-width:1200px){
  .box{
    width: 30%;
  }
  .inputbox input{
    font-size: 2rem;
  }
}

/* ***************** media min:1201px **************************/

